.country-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5px;
}

.visited {
  background-color: black;
}
/* .none-visited {
  background-color: aliceblue;
} */

.flag-container{
  width: 100px;

}